{
  "root": true,
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "one-var": 1,
    "one-var-declaration-per-line": 1,
    "new-cap": 2,
    "consistent-return": 1,
    "comma-dangle": "warn",
    "prefer-destructuring": [
      "error", 
      {
        "object": true,
        "array": true
      }
    ],
    "quotes": [2, "single"],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "classes": true
    }
  }
}
